[submodule "modules/rtos"]
	path = modules/rtos
	url = https://github.com/fbucafusco/firmware.modules.rtos
[submodule "modules/modbus"]
	path = modules/modbus
	url = https://github.com/ciaa/firmware.modules.modbus.git
