[submodule "modules/rtos"]
	path = modules/rtos
	url = https://github.com/ciaa/firmware.modules.rtos.git
[submodule "modules/modbus"]
	path = modules/modbus
	url = https://github.com/ciaa/firmware.modules.modbus.git
[submodule "externals/lwip/lwip_src"]
	path = externals/lwip/lwip_src
	url = git://git.savannah.nongnu.org/lwip.git
