[submodule "modules/rtos"]
	path = modules/rtos
	url = https://github.com/ciaa/firmware.modules.rtos.git
[submodule "modules/update/slave"]
	path = modules/update/slave
	url = https://github.com/ciaa/firmware.modules.update.slave
[submodule "modules/modbus"]
	path = modules/modbus
	url = https://github.com/ciaa/firmware.modules.modbus.git
[submodule "modules/updatecommon"]
	path = modules/updatecommon
	url = https://github.com/ciaa/firmware.modules.update.common.git
[submodule "modules/updateslave"]
	path = modules/updateslave
	url = https://github.com/ciaa/firmware.modules.update.slave
