# LPCXPresso & Eclipse files
/**/.metadata
/**/.settings
/**/RemoteSystemsTempFiles
/**/Debug
*.launch
*.cproject
*.project
.settings

# Own makefile or mine template
*.mine

# Own projects
projects

# Docbook
*.fo

# Object files
*.o
*.ko
*.obj
*.elf
*.bin

# Libraries
*.lib
*.a

# Shared objects (inc. Windows DLLs)
*.dll
*.so
*.so.*
*.dylib

# Executables
*.exe
*.out
*.app
*.i*86
*.x86_64
*.hex

# Backup files
*.bak
*.swp
*~

# Unity runners
*_Runner.c

# GCOV Coverage Files
*.gcda
*.gcno
*.gcov
*.info
