[project]
	description = Firmware de la CIAA
[access]
	inheritFrom = All-Projects
[access "refs/*"]
	owner = group user/Mariano Cerdeiro (mcerdeiro)
[access "refs/for/refs/*"]
	read = group user/Mariano Cerdeiro (mcerdeiro)
	push = group user/Mariano Cerdeiro (mcerdeiro)
	label-Code-Review = -2..+2 group user/Mariano Cerdeiro (mcerdeiro)
	label-Verified = -1..+1 group user/Mariano Cerdeiro (mcerdeiro)
	rebase = group user/Mariano Cerdeiro (mcerdeiro)
	removeReviewer = group user/Mariano Cerdeiro (mcerdeiro)
	submit = group user/Mariano Cerdeiro (mcerdeiro)
[access "refs/heads/*"]
	read = group user/Mariano Cerdeiro (mcerdeiro)
	create = group user/Mariano Cerdeiro (mcerdeiro)
	push = +force group user/Mariano Cerdeiro (mcerdeiro)
	pushMerge = group user/Mariano Cerdeiro (mcerdeiro)
[access "refs/tags/*"]
	push = +force group user/Mariano Cerdeiro (mcerdeiro)
	pushTag = group user/Mariano Cerdeiro (mcerdeiro)
	pushSignedTag = group user/Mariano Cerdeiro (mcerdeiro)
