###############################################################################
#
# Copyright 2014, Mariano Cerdeiro
#
# This file is part of CIAA Firmware.
#
# Redistribution and use in source and binary forms, with or without
# modification, are permitted provided that the following conditions are met:
#
# 1. Redistributions of source code must retain the above copyright notice,
#    this list of conditions and the following disclaimer.
#
# 2. Redistributions in binary form must reproduce the above copyright notice,
#    this list of conditions and the following disclaimer in the documentation
#    and/or other materials provided with the distribution.
#
# 3. Neither the name of the copyright holder nor the names of its
#    contributors may be used to endorse or promote products derived from this
#    software without specific prior written permission.
#
# THIS SOFTWARE IS PROVIDED BY THE COPYRIGHT HOLDERS AND CONTRIBUTORS "AS IS"
# AND ANY EXPRESS OR IMPLIED WARRANTIES, INCLUDING, BUT NOT LIMITED TO, THE
# IMPLIED WARRANTIES OF MERCHANTABILITY AND FITNESS FOR A PARTICULAR PURPOSE
# ARE DISCLAIMED. IN NO EVENT SHALL THE COPYRIGHT HOLDER OR CONTRIBUTORS BE
# LIABLE FOR ANY DIRECT, INDIRECT, INCIDENTAL, SPECIAL, EXEMPLARY, OR
# CONSEQUENTIAL DAMAGES (INCLUDING, BUT NOT LIMITED TO, PROCUREMENT OF
# SUBSTITUTE GOODS OR SERVICES; LOSS OF USE, DATA, OR PROFITS; OR BUSINESS
# INTERRUPTION) HOWEVER CAUSED AND ON ANY THEORY OF LIABILITY, WHETHER IN
# CONTRACT, STRICT LIABILITY, OR TORT (INCLUDING NEGLIGENCE OR OTHERWISE)
# ARISING IN ANY WAY OUT OF THE USE OF THIS SOFTWARE, EVEN IF ADVISED OF THE
# POSSIBILITY OF SUCH DAMAGE.
#
###############################################################################
# This file implements the configuration of CIAA Firmware
###############################################################################

###############################################################################
# Include following configurations
source "modules/posix/etc/ciaaconfig.cfg"

###############################################################################
# General configuration
config CROSS_COMPILE
	string "CC cross compiler prefix"
	default "arm-none-eabi-"
	help
	  Cross compiler prefix.
	  This string is prepend to $CC variable

menu "Memory Menu"


config HEAP
   int "Heap for malloc"
   default "10240"
   help
      Amount of Ram used for malloc and free

endmenu

choice
	prompt "CPU (-mcpu)"
	default CORTEX_M3
	help
	  Select procesor type for -mcpu flag

config CORTEX_M0P
	bool "Cortex-M0+"

config CORTEX_M0
	bool "Cortex-M0"

config CORTEX_M1
	bool "Cortex-M1"

config CORTEX_M3
	bool "Cortex-M3"

config CORTEX_M4
	bool "Cortex-M4"

endchoice

config USE_FPU
	bool "Use FPU"
	help
	  Enable FPU usage
