BODY,H1,H2,H3,H4,H5,H6,P,CENTER,TD,TH,UL,DL,DIV {
  font-family: Geneva, Arial, Helvetica, sans-serif;
}
BODY {
  background: #fff;
  color: black;
  margin-right: 0px;
  margin-left: 0px;
  margin-top: 0px;
}
BODY,TD {
  font-size: 90%;
}
H1 {
  text-align: center;
  padding-top:1.5em;
  font-size: 160%;
}
H2 {
  font-size: 100%;
  margin: 1.5em -5px 5px -5px;
  padding: 2px 5px 1px 5px;
  background-color: #e2f0ff;
  border-bottom:1px solid lightgray;
}
H3 {
  font-size: 100%;
  margin-bottom:0.3em;
}
H4 { 
  font-size: 95%;
  margin-bottom:0.3em;
}

H1 a { color: green; }
H2 a { color:#1A41A8; }
H3 a { 
  color:#1A41A8;
  border-bottom: 1px dotted lightgray;
}
H4 a {color:#000; }
H2 a:hover { background-color:#e2f0ff; }
H3 a:hover { background-color:#fff; }
H4 a:hover { text-decoration:none; } 

CAPTION { font-weight: bold; }

DIV.qindex {
  width: 100%;
  background-color: #e8eef2;
  border: 1px solid #84b0c7;
  text-align: center;
  margin: 2px;
  padding: 2px;
  line-height: 140%;
}
DIV.nav {
  width: 100%;
  background-color: #e8eef2;
  border: 1px solid #84b0c7;
  text-align: center;
  margin: 2px;
  padding: 2px;
  line-height: 140%;
}
DIV.navtab {
  background-color: #e8eef2;
  border: 1px solid #84b0c7;
  text-align: center;
  margin: 2px;
  margin-right: 15px;
  padding: 2px;
}
TD.navtab {
  font-size: 70%;
}
A.qindex {
  text-decoration: none;
  font-weight: bold;
  color: #1A419D;
}
A.qindex:visited {
  text-decoration: none;
  font-weight: bold;
  color: #1A419D
}
A.qindex:hover {
  text-decoration: none;
  background-color: #ddf;
}
A.qindexHL {
  text-decoration: none;
  font-weight: bold;
  background-color: #66c;
  color: #fff;
  border: 1px double #9295C2;
}
A.qindexHL:hover {
  text-decoration: none;
  background-color: #66c;
  color: #fff;
}
A.qindexHL:visited { text-decoration: none; background-color: #66c; color: #fff; }
A { color: #1A41A8; text-decoration:none; }
/*A:visited { color: #2A3798; }*/
A.el, A.elRef { text-decoration: underline; }
A.code:link { text-decoration: none; font-weight: normal; color: #00F; }
A.code:visited { text-decoration: none; font-weight: normal; color: #00F; }
A.codeRef:link { font-weight: normal; color: #00f}
A.codeRef:visited { font-weight: normal; color: #00f}
A:hover { text-decoration: underline;  background-color: #fff }
A.el:hover, A.elRef:hover { background-color: #e2f2ff; color: #1A41A8; }
H1 a:hover, H2 a:hover, H3 a:hover { text-decoration: none; color: #1A41A8;}


DL.el { margin-left: -1cm }

.fragment {
  font-family: monospace, fixed;
   font-size: 95%;
}
PRE.fragment {
  border: 1px solid #CCC;
  background-color: #f5f5f5;
  margin-top: 4px;
  margin-bottom: 4px;
  margin-left: 2px;
  margin-right: 8px;
  padding-left: 6px;
  padding-right: 6px;
  padding-top: 4px;
  padding-bottom: 4px;
}
DIV.ah { background-color: black; font-weight: bold; color: #fff; margin-bottom: 3px; margin-top: 3px }
TD.md { background-color: #F4F4FB; font-weight: bold; }
TD.mdPrefix {
  background-color: #F4F4FB;
  color: #606060;
  font-size: 80%;
}
TD.mdname1 { background-color: #F4F4FB; font-weight: bold; color: #602020; }
TD.mdname { background-color: #F4F4FB; font-weight: bold; color: #602020; width: 600px; }
DIV.groupHeader {
  margin-left: 16px;
  margin-top: 12px;
  margin-bottom: 6px;
  font-weight: bold;
}
DIV.groupText { margin-left: 16px; font-style: italic; font-size: 90% }

TD.indexkey {
  background-color: #e8eef2;
  font-weight: bold;
  padding-right  : 10px;
  padding-top  : 2px;
  padding-left   : 10px;
  padding-bottom : 2px;
  margin-left  : 0px;
  margin-right   : 0px;
  margin-top   : 2px;
  margin-bottom  : 2px;
  border: 1px solid #CCCCCC;
}
TD.indexvalue {
  background-color: #e8eef2;
  font-style: italic;
  padding-right  : 10px;
  padding-top  : 2px;
  padding-left   : 10px;
  padding-bottom : 2px;
  margin-left  : 0px;
  margin-right   : 0px;
  margin-top   : 2px;
  margin-bottom  : 2px;
  border: 1px solid #CCCCCC;
}
TR.memlist {
   background-color: #f0f0f0;
}
P.formulaDsp { text-align: center; }
IMG.formulaDsp { }
IMG.formulaInl { vertical-align: middle; }
SPAN.keyword     { color: #008000 }
SPAN.keywordtype   { color: #604020 }
SPAN.keywordflow   { color: #e08000 }
SPAN.comment     { color: #800000 }
SPAN.preprocessor  { color: #806020 }
SPAN.stringliteral { color: #002080 }
SPAN.charliteral   { color: #008080 }
.mdTable {
  border: 1px solid #868686;
  background-color: #F4F4FB;
}
.mdRow {
  padding: 8px 10px;
}
.mdescLeft {
  padding: 0px 8px 4px 8px;
  font-size: 80%;
  font-style: italic;
  background-color: #FAFAFA;
  border-top: 1px none #E0E0E0;
  border-right: 1px none #E0E0E0;
  border-bottom: 1px none #E0E0E0;
  border-left: 1px none #E0E0E0;
  margin: 0px;
}
.mdescRight {
  padding: 0px 8px 4px 8px;
  font-size: 80%;
  font-style: italic;
  background-color: #FAFAFA;
  border-top: 1px none #E0E0E0;
  border-right: 1px none #E0E0E0;
  border-bottom: 1px none #E0E0E0;
  border-left: 1px none #E0E0E0;
  margin: 0px;
}
.memItemLeft {
  padding: 1px 0px 0px 8px;
  margin: 4px;
  border-top-width: 1px;
  border-right-width: 1px;
  border-bottom-width: 1px;
  border-left-width: 1px;
  border-top-color: #E0E0E0;
  border-right-color: #E0E0E0;
  border-bottom-color: #E0E0E0;
  border-left-color: #E0E0E0;
  border-top-style: solid;
  border-right-style: none;
  border-bottom-style: none;
  border-left-style: none;
  background-color: #FAFAFA;
  font-size: 80%;
}
.memItemRight {
  padding: 1px 8px 0px 8px;
  margin: 4px;
  border-top-width: 1px;
  border-right-width: 1px;
  border-bottom-width: 1px;
  border-left-width: 1px;
  border-top-color: #E0E0E0;
  border-right-color: #E0E0E0;
  border-bottom-color: #E0E0E0;
  border-left-color: #E0E0E0;
  border-top-style: solid;
  border-right-style: none;
  border-bottom-style: none;
  border-left-style: none;
  background-color: #FAFAFA;
  font-size: 80%;
}
.memTemplItemLeft {
  padding: 1px 0px 0px 8px;
  margin: 4px;
  border-top-width: 1px;
  border-right-width: 1px;
  border-bottom-width: 1px;
  border-left-width: 1px;
  border-top-color: #E0E0E0;
  border-right-color: #E0E0E0;
  border-bottom-color: #E0E0E0;
  border-left-color: #E0E0E0;
  border-top-style: none;
  border-right-style: none;
  border-bottom-style: none;
  border-left-style: none;
  background-color: #FAFAFA;
  font-size: 80%;
}
.memTemplItemRight {
  padding: 1px 8px 0px 8px;
  margin: 4px;
  border-top-width: 1px;
  border-right-width: 1px;
  border-bottom-width: 1px;
  border-left-width: 1px;
  border-top-color: #E0E0E0;
  border-right-color: #E0E0E0;
  border-bottom-color: #E0E0E0;
  border-left-color: #E0E0E0;
  border-top-style: none;
  border-right-style: none;
  border-bottom-style: none;
  border-left-style: none;
  background-color: #FAFAFA;
  font-size: 80%;
}
.memTemplParams {
  padding: 1px 0px 0px 8px;
  margin: 4px;
  border-top-width: 1px;
  border-right-width: 1px;
  border-bottom-width: 1px;
  border-left-width: 1px;
  border-top-color: #E0E0E0;
  border-right-color: #E0E0E0;
  border-bottom-color: #E0E0E0;
  border-left-color: #E0E0E0;
  border-top-style: solid;
  border-right-style: none;
  border-bottom-style: none;
  border-left-style: none;
  color: #606060;
  background-color: #FAFAFA;
  font-size: 80%;
}
.search   { color: #003399;
  font-weight: bold;
}
FORM.search {
  margin-bottom: 0px;
  margin-top: 0px;
}
INPUT.search { font-size: 75%;
  color: #000080;
  font-weight: normal;
  background-color: #e8eef2;
}
TD.tiny    { font-size: 75%;
}

.dirtab { padding: 4px;
  border-collapse: collapse;
  border: 1px solid #84b0c7;
}
TH.dirtab { background: #e8eef2;
  font-weight: bold;
}
HR { 
  height: 1px;
  border: none;
  border-top: 1px solid black;
  margin-left:0;
}

/* Style for detailed member documentation */
.memtemplate {
  font-size: 80%;
  color: #606060;
  font-weight: normal;
}
.memnav {
  background-color: #e8eef2;
  border: 1px solid #84b0c7;
  text-align: center;
  margin: 2px;
  margin-right: 15px;
  padding: 2px;
}
.memitem {
  padding: 4px;
  background-color: #eef3f5;
  border-width: 1px;
  border-style: solid;
  border-color: #dedeee;
  -moz-border-radius: 8px 8px 8px 8px;
}
.memname {
  white-space: nowrap;
  font-weight: bold;
}
.memdoc{
  padding-left: 10px;
}
.memproto {
  background-color: #d5e1e8;
  width: 100%;
  border-width: 1px;
  border-style: solid;
  border-color: #84b0c7;
  font-weight: bold;
  -moz-border-radius: 8px 8px 8px 8px;
}
.paramkey {
  text-align: right;
}
.paramtype {
  white-space: nowrap;
}
.paramname {
  color: #602020;
  font-style: italic;
  white-space: nowrap;
}
/* End Styling for detailed member documentation */

/* for the tree view */
.ftvtree {
  font-family: sans-serif;
  margin:0.5em;
}
.directory { font-size: 9pt; font-weight: bold; }
.directory h3 { margin: 0px; margin-top: 1em; font-size: 11pt; }
.directory > h3 { margin-top: 0; }
.directory p { margin: 0px; white-space: nowrap; }
.directory div { display: none; margin: 0px; }
.directory img { vertical-align: -30%; }

.navText {
  font:10px arial;
  color: #333300;
  letter-spacing:.1em;
  position:relative;
  left:40px;
}



/*
-------------------
  DYNAMIC CSS MENU
-------------------
*/
BODY { behavior:url("csshover.htc"); }

DIV#menu { float:left; } 

#menu UL {
  display:block;
  margin:2px 15px 2px 2px;
  padding:5px;
  width:180px;
  border: 1px dashed #dedede;
  background:white;
  list-style:none;
  font-size:12px;
}

/* submenu */
#menu UL UL {
  display:block;
  margin:0;
  padding:2px;
  width:180px;
  border: 1px dotted #888;
  background:#eee;
  list-style:none;
}

#menu LI {
  display:block;
  position:relative;
  border-width: 1px;
  border-style: solid;
  border-color: #ccc #888 #555 #bbb;
  background: #fff;
  margin: 2px;
  padding: 4px 8px 4px 5px;
  z-index:9
}

div#menu UL LI { background:#eee; }
div#menu UL LI UL LI { background:#fff; }

#menu LI.folder UL { 
  position:absolute;  
  left:160px;  /* others */
  top:5px;
} 

* HTML #menu LI.folder UL { left:150px; /* IE */}

#menu A {
  display:block;
  margin: -2px -5px -2px -2px;
  padding:2px;
  color:#000;
  text-decoration:none;
  font-weight:bold;
  width:100%; /* IE */
}
* HTML #menu A { margin:0; } /* IE */

#menu LI>A { width:auto; } /* others */

#menu LI LI { font-size:80%; }

#menu LI.folder {
  background:url("Images/rightarrow.gif") right no-repeat #eee;
}

#menu LI.folder  LI.folder {
  background:url("Images/rightarrow.gif") right no-repeat #fff;
}


/* regular hovers */
#menu A:hover {
  background-color:#888;
  color:#fff;
}
#menu LI.folder A:hover { background-color:#888; }

/* hovers with specificity */
#menu LI.folder:hover { z-index:10; }
DIV#menu>UL UL, #menu LI:hover UL UL { display:none; }
* HTML DIV#menu UL UL, #menu LI:hover UL UL { display:none; } /* IE */
#menu LI:hover UL, #menu LI:hover LI:hover UL { display:block; }

/*
  WORKAROUND FOR LIST BENEATH FLOAT BUG
*/
BODY UL { 
  padding:0; 
  margin:0;
  display:inline; /* IE-FIX */
}
BODY UL>LI { 
  margin-left:1.5em; 
}
/* workaround end */

/*
  DOWNLOAD TABLE
*/
TABLE.download { border:1px dotted gray; }
TABLE.download TH {
  font-size:90%;
  border-bottom: 1px solid gray;
}

TABLE.download TD {
/*  border-bottom: 1px solid gray;*/
  padding-top:5px;
}

TABLE.infoboxLinks, TABLE.infobox A { font-weight:normal; }
TABLE.infobox TH, TABLE.infoboxLinks TH { border:0; }
TABLE.infoboxLinks {
  border:1px dashed #66CC66; 
  padding:5px;
  float:right;
  font-size:90%;
}

TABLE.infobox {
  margin: 0;
  border:1px dashed #66CC66; 
  padding:5px;
}

TABLE.infobox ol>li {padding-top:0.5em; font-weight:bold;}
TABLE.infobox ul>li {padding-top:0.3em;}
TABLE.infobox ol>li>ul>li {padding-top:0.5em;}
TABLE.infobox ul>li>ul>li {font-size:80%;}

#sitemap UL #menu UL { 
  background:#fff; 
}
DIV#sitemap { float:left; margin-bottom:1.5em;}

DIV#sitemap UL LI {
  margin-top:1em;
}
DIV#sitemap UL UL LI {
  margin-top:0;
}

DIV#sitemap UL UL A {
  font-weight:normal;
}

/* Tag for hidden dynamic sections */
#hiddendiv { display: none; }
a#anchor4hiddendiv { 
  text-decoration:none;
  background: #f0f0f0;
  border-top:1px solid silver; 
  border-right:1px solid silver; 
  border-bottom:1px solid silver;
  border-left:1px solid silver;
  padding:1px 2px 1px 2px; 
}
a#anchor4hiddendiv:hover { 
  border-top:1px solid gray; 
  border-right:1px solid gray;
  border-bottom:1px solid gray;
  border-left:1px solid gray;
}

/* a#ext { color:#080; } */

TABLE { border-collapse:collapse; border:none; }
/*TABLE TR { border:0; }*/
TABLE TH { border-bottom: 1px solid gray; }


div.question { 
  border:1px solid silver;
  background-color:#f0f8ff;
  font-style:italic;  
}
